.wrapper {
  flex-direction: column;
}

.wrapper main {
  display: flex;
}

.wrapper form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.wrapper form fieldset {
  width: 20vw;
  min-width: 65px;
}

.wrapper .tables {
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  font-size: max(min(18px, 2vw), 10px);
  width: 80vw;    
}

.wrapper .tables {
  justify-content: space-evenly;
}

label {
  display: flex;
  justify-content: space-between;
}

label span {
  font-size: max(min(16px, 1.8vw), 8px);
}

.inputs fieldset input, .inputs fieldset select {
  display: inline-block;
  width: 60%;
  margin: 0px 0px 6px 6px;
  font-size: max(min(15px, 1.6vw), 7px);
}

.tables {
  display: flex;
  justify-content: space-around;
}
